In [12]:
import pandas as pd
import numpy as np
import cufflinks as cf
import chart_studio.plotly as py
import plotly.tools as tls
import plotly.offline as po
import plotly.graph_objs as go

dataset=pd.read_excel("C:/Users/DELL/Desktop/Analysis and Visualization Basics.xlsx")
dataset.head()
print(dataset)

                   date  product B  product C
0   2020-02-01 00:00:00       1496       2332
1   2020-09-01 00:00:00       1708        709
2            16/01/2020       1484        564
3            23/01/2020       1573        610
4            30/01/2020       1867        718
..                  ...        ...        ...
66  2021-04-05 00:00:00       1686        486
67  2021-10-05 00:00:00       1686        486
68           17/05/2021       1526        644
69           25/05/2021       1256        149
70  2021-01-06 00:00:00        833        258

[71 rows x 3 columns]

In [2]:
dataset[['date','product B','product C']].describe()

         product B    product C
count    71.000000    71.000000
mean   2039.746479   508.281690
std     765.515265   291.676689
min     833.000000   119.000000
25%    1569.500000   328.500000
50%    1780.000000   520.000000
75%    2416.000000   662.000000
max    4204.000000  2332.000000

In [3]:
#range_productB
dataset['product B'].max()-dataset['product B'].min()

3371

In [4]:
#range_productC
dataset['product C'].max()-dataset['product C'].min()

2213

In [5]:
#variance_productB
dataset['product B'].var()

586013.6205231387

In [6]:
#variance_productC
dataset['product C'].var()

85075.29094567405

In [7]:
#squreRoot_productB
import math
from math import sqrt
math.sqrt(dataset['product B'].var())

765.5152647224866

In [8]:
#squreRoot_productB
import math
from math import sqrt
math.sqrt(dataset['product C'].var())

291.67668906800566